h1, h2, h3, h4, h5, h6, p, span, pre, label, input, a {
	color: white;
	text-decoration: none;
}

.brand-logo img {
	position: absolute;
	top: 4px;
	left: 207px;
	width: 56px;
	height: 56px;
}

@media only screen and (max-width: 600px) {
	.brand-logo img {
		top: 3px;
		left: 185px;
		height: 50px;
		width: 50px;
	}
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
	border: none;
}

body {
	height: 2000px;
}

ul.sidenav {
	max-width: 80vw;
}

#sidenavlogo {
	margin-top: 2em;
}

#sidenavhtext {
	margin-top: 0;
	margin-left: 1em;
	margin-right: 1em;
	word-break: normal;
}

#topsection{
	position: relative;
	top: 0;
	height: 75vh;
}

#backimg {
	width: 100%;
	max-height: 100vh;
	margin: auto;
	position: absolute;
	z-index: -2;
}

#backmask {
  position: absolute;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to bottom, transparent, black);
	z-index: -1;
}

#mainsection {
	margin-top: none; /* TODO */
}
